extends layout

block header
  h1 観光情報インフラ整備計画
  p.lead 私達は2020年東京五輪に向けた「おもてなし」の観光体験デザインと、それを可能にする観光情報インフラの整備計画を、民間から政策として提案します。（<a href="/articles/about-project/">このプロジェクトについて</a>）

block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('YYYY-MM-DD')
        h2
          a(href=article.url)= article.title
      section.content
        | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) more

block prepend pagination
  nav
    if prevPage
      a(href=prevPage.url)
        button.btn.btn-default « 新しい記事へ
    else
      a(href='/archive.html')
        button.btn.btn-default « 全記事一覧へ
    if nextPage
      a(href=nextPage.url)
        button.btn.btn-default 古い記事へ »
